body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
body, html {
    height: 100%;
    background-color:#D3D3D3;
    line-height: 1.8;
    background-blend-mode: overlay;
    }

ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
.screen{
    background-color: aliceblue;
    opacity: 0.8;
    margin: 0;
    padding: 16px;

    }
.bgimg-1, .bgimg-2, .bgimg-3 {
    padding: 16px;
    margin: 0%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bgimg-1 {
    
    background-image: url('andy-chilton-56332-unsplash.jpg');
    min-height: 100%;
    width: 100%;
}

.bgimg-2 {
    background-image: url("cayla1-150730-unsplash.jpg");
    min-height: 400px;
}


.bgimg-3 {
    background-image: url("charles-466056-unsplash.jpg");
    min-height: 400px;

    }

.container-info{
    padding: 20px;
    width: fit-content;
    align-content: center;
    line-height: 16px;
}
.bar {

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    

}
.bar:hover {
    text-decoration-color: black;
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }